/* Font Imports */
@font-face {
  font-family: 'Gotham Thin';
  src: url('/fonts/Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('/fonts/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('/fonts/Gotham-Ultra.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Custom styles for the ClearRoute theme */

:root {
  --clear-route-green-light: #00e8af;
  --clear-route-green-dark: #009167;
  --clear-route-purple: #c4a3ff;
  --clear-route-orange: #ffb78e;
  --clear-route-white: #f7f7f7;
  --clear-route-grey-dark: #232836;


  /* Assigning to Slidev's default CSS variables for easier integration */
  --slidev-theme-primary: var(--clear-route-green-light);
  --slidev-theme-secondary: var(--clear-route-green-dark);
  --slidev-theme-text-color: var(--clear-route-grey-dark);
  --slidev-theme-background: var(--clear-route-white);

  /* Custom Fonts */
  --font-heading: "Gotham Black", sans-serif;
  --font-body: "Gotham Light", sans-serif;

  /* Background Gradients */
  --gradient-angle: 110deg;
  --gradient-start-dark: 40%;
  --gradient-end-dark: 200%;
  --gradient-start-light: 40%;
  --gradient-end-light: 110%;
  --gradient-dark-to-green: linear-gradient(var(--gradient-angle), var(--clear-route-grey-dark) var(--gradient-start-light), var(--clear-route-green-dark) var(--gradient-end-light));
  --gradient-dark-to-purple: linear-gradient(var(--gradient-angle), var(--clear-route-grey-dark) var(--gradient-start-dark), var(--clear-route-purple) var(--gradient-end-dark));
  --gradient-dark-to-orange: linear-gradient(var(--gradient-angle), var(--clear-route-grey-dark) var(--gradient-start-light), var(--clear-route-orange) var(--gradient-end-dark));
}

/* Utility classes for colors */
.text-clear-route-white {
  color: var(--clear-route-white);
}

.text-clear-route-green-light {
  color: var(--clear-route-green-light);
}

.text-clear-route-grey-dark {
  color: var(--clear-route-grey-dark);
}

.text-clear-route-purple {
  color: var(--clear-route-purple);
}

/* Basic styling using the new color and font variables */
.slidev-layout {
  background-color: var(--slidev-theme-background);
  color: var(--slidev-theme-text-color);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--slidev-theme-primary);
}

h1, h2 {
  line-height: 0.9;
}

h3, h4, h5, h6 {
  line-height: 1.2;
}

p, li, blockquote {
  font-family: var(--font-body);
  font-size: 0.9rem;
}

a {
  color: var(--slidev-theme-secondary);
}

/* Specific layout styles will be applied in Vue components */
